<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{kakoak_layout.html}">

<head>
    <!-- header from the content page-->
    <link th:href="@{/webjars/AdminLTE/3.2.0/plugins/daterangepicker/daterangepicker.css}" rel="stylesheet">
    <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/daterangepicker/daterangepicker.js}"></script>
</head>
<body id="page-top">
<div class="router_inner" layout:fragment="page_content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body">
                <div class="row">
                    <div class="col-4 text-center">
                        <span th:text="${user1.url}"></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body">
                <div class="table_router">
                    <table class="table custom-table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th class="text-center" scope="col" th:text="#{url_video_item}"></th>
                            <th class="text-center" scope="col" th:text="#{title}"></th>
                            <th class="text-center" scope="col" th:text="#{download_time}"></th>
                            <th class="text-center" scope="col" th:text="#{status}"></th>
                            <th class="text-center" scope="col" th:text="#{media_path}"></th>
                            <th class="text-center" scope="col" th:text="#{action}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="model ,item:${models}">
                            <td th:text="${model.url_video_item}"></td>
                            <td th:text="${model.title}"></td>
                            <td class="text-center"
                                th:text="${#dates.format(model.download_time, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${model.status}"></td>
                            <td th:text="${model.media_path}"></td>
                            <td class="text-center">
                                <div>
                                    <a th:attr="onclick=|deleteIcon('${model.id_video_item}', '${currentPage}', '${pageSize}','${model.id_video_info}')|"
                                       style="cursor: pointer;" type="button" class="btn" title="Delete">
                                        <i class="fas fa-trash-alt" style="color: #ff0000;">
                                        </i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:replace="common :: table_paging2"></div>
            </div>
        </div>
    </div>
    <!--Popup Start-->
    <div id="popup-delete" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="text-center">
                    <p th:text="#{popup.delete}"></p>
                    <button class="btn btn-primary m-2" id="confirmDel" th:text="#{apply}">Apply</button>
                    <button class="btn btn-primary m-2" id="closeDel" th:text="#{close}">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- REQUIRED SCRIPTS -->
<script layout:fragment="content_page_script">
    function linkpage(page){

        console.log(page);
        var urlPage = window.location.href;
        var utlBase = '';
        var urlParram = '';
          console.log(1);
        let start = 0;
        for(let i = 0; i < urlPage.length-1; i++){
            if(urlPage.charAt(i) =='?'){
                start = i;
                break;
            }
        }
         console.log(2);
        if(start > 0){
            utlBase = urlPage.substring(0,start);
            urlParram = urlPage.substring(start,urlPage.length);
        }else {
            utlBase = urlPage;
        }
         console.log(3);
        console.log(page);
        start = 0;
        for(let i = urlPage.length-1; i > 0; i--){
            if(urlPage.charAt(i) =='/'){
                start = i;
                break;
            }
        }
         console.log(4);
        if(isNaN(utlBase.substring(start+1,utlBase.length))){
            utlBase += '/'+ page;
        }
        else{
            utlBase = utlBase.substring(0, start + 1)+ page;
        }
         console.log(5);
        var urlSearchParams = new URLSearchParams(urlPage);
        // Thay đổi giá trị của tham số pageSize
        urlSearchParams.set('pageSize', `[[${pageSize}]]`);
         urlSearchParams.set('id_video_info', `[[${id_video_info}]]`);
  console.log(6);
        var dem = 0;
        urlParram = '';
        urlSearchParams.forEach(function(value, key) {
            if(dem==1){
                urlParram += '?'+key+'='+value;
            }
            else if(dem>1){
                urlParram += '&'+key+'='+value;
            }
            dem++;
        });
         console.log(7);
        console.log(urlParram);
        var newUrl = utlBase + urlParram;
           console.log(7);
        window.location.href = newUrl;
    }

    function deleteIcon(id_video_item, page, pageSize,id_video_info) {
      console.log("id_video_item" +id_video_item);
      console.log("page" +page);
      console.log("id_video_info" +pageSize);
      console.log("id_video_info" +id_video_info);
        if(page == null || page == "" || page == "null")
            page = 1;
        if(pageSize == null || pageSize == "" || pageSize == "null")
            pageSize = 10;

        $("#popup-delete").modal('show');

        $("#confirmDel").click(function() {
            $("#popup-delete").modal('hide');
            window.location.href = `[[${@environment.getProperty('server.servlet.context-path')}]]/video/delete/${page}?id_video_item=${id_video_item}&pageSize=${pageSize}&id_video_info=${id_video_info}`;
        });

        $("#closeDel").click(function() {
            $("#popup-delete").modal('hide');
        });
    }
</script>
</body>
</html>